<!-- Main -->
<script src="{{ asset('js/main.js') }}"></script>
<footer>
    <div class="container" style="width: 72%;height: 190px;background-color:#F5F7FA ;margin-top: 650px;position:relative;margin-left: 320px">

            <img src="{{ asset('images/uniset.png') }}" width="100px" height="100px" style="margin-left: 45%;margin-top: 30px" alt="img">
        <h5 style="color: #122b40;font-weight: bold;text-align: center;"> All rigths reserved  <i class="far fa-copyright"></i>  2020 <br>
      Developed by KARKARATEAM</h5>


    </div>
</footer>